<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous">
        </script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
              <div class="nav-wrapper">
                <a href="{{ path('homepage') }}" class="brand-logo">Vendredi</a>

                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!"><i class="material-icons">account_circle</i>Profil</a></li>
                    <li><a href="#!"><i class="material-icons">settings</i>Paramètre</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="{{ path("admin") }}"><i class="material-icons">security</i>Admin</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{{ path("app_logout") }}" class="waves-effect waves-light"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>

                <ul class="right hide-on-med-and-down">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- Dropdown Trigger -->
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{ app.user.email }}<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li><a class="waves-effect waves-light btn teal darken-2" href="{{ path("app_login") }}">Connexion</a></li>
                        <li><a class="waves-effect waves-light btn" href="{{ path("app_register") }}">Inscription</a></li>
                    {% endif %}
                </ul>
              </div>
            </nav>
        </header>
        <main>
            <section class="container">
                {% block body %}{% endblock %}
            </section>
        </main>

        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Contenu du footer</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Autres liens</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{{ path('mentions') }}">Mentions légales</a></li>
                  <li><a class="grey-text text-lighten-3" href="{{ path('contact') }}">Contact</a></li>
                  {# <li><a class="grey-text text-lighten-3" href="{{ path('name_home') }}">Qui somme nous?</a></li> #}
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            
        {% block javascripts %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{ asset("js/function.js") }}"></script>
    </body>
</html>