{% extends 'home/layout.html.twig' %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block content %}
	<h1>{{ user.username }}</h1>
    <div class="block-form">
        {{ form_start(formulaire) }}
            <div class="input-field col s5">
                {{ form_widget(formulaire.post, {'attr': {'class': 'materialize-textarea'}}) }}
                {{ form_label(formulaire.post) }}
            </div>
            <input class="btn btn-primary" type="submit" value="Valider">
        {{ form_end(formulaire) }}
    </div>

    <div class="block-posts">
        {% for post in posts %}
            <div class="block-post">
                <a href="{{ path("user_profil", {username: post.author.username }) }}"><span>{{ post.author.username }}</span></a>
                <span class="date-post">{{ post.date.date | date('d/m/Y H:i') }}</span>
                <p>{{ post.post }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}